<a href="https://colab.research.google.com/github/fampoo/CSE303/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
obj = pd.Series([4, 7, -5, 3])
print(obj)
print(type(obj))

print(obj[obj%2==0])
print(obj+5 )
print(obj*2)

0    4
1    7
2   -5
3    3
dtype: int64
<class 'pandas.core.series.Series'>
0    4
dtype: int64
0     9
1    12
2     0
3     8
dtype: int64
0     8
1    14
2   -10
3     6
dtype: int64

In [2]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 
 'Utah': 5000}

obj3 = pd.Series(sdata)
print(obj3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [13]:
dict1 = {'id':[1,2,3],'name':['alice','bob','charlie'],
 'age':[20, 25, 32]}
df1 = pd.DataFrame(dict1)
print(df1)

   id     name  age
0   1    alice   20
1   2      bob   25
2   3  charlie   32

In [17]:
list1 = [['Aman',22,3.4,11],['karim',24,3.1,7],['malek',22,3.8,11]]
df = pd.DataFrame(list1)
df.columns = ['name','age','cgpa','hoursStudied']
print(df.head())

    name  age  cgpa  hoursStudied
0   Aman   22   3.4            11
1  karim   24   3.1             7
2  malek   22   3.8            11